body{
  margin: 0;
}


.header{
  color: green;
  text-align: center;
  margin-top: 0;
}

.top-container{
  background-color: #9df3c4;
}

.middle-container{
  background-image: url(https://images.pexels.com/photos/853199/pexels-photo-853199.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500);
  background-color: blue;
  height: 500px;
  width: 500px;
  margin: 10px;
}

.bottom-container{
  background-color: red;
  height: 200px;
  width: 200px;
  margin: 10px;
}

.container-image{
  height: 200px;
  width: 200px;
}
